<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 section_white section_white_page">
	<h3>Portfolio</h3>
	<hr>
	<p>I design digital marketing products, websites and web applications for businesses of all sizes. Please take a moment to look at some of my previous work.</p>
	<br />
	<br />
	<div class="row">
		<div class="col-md-5 col-md-push-7 col-sm-push-6 col-sm-6 col-xs-12">
		<h4 class="portfolio_caption">Musi</h4>
		<p class="portfolio_caption">Musi is a web application that helps local musicians meet and create new music. Similar to a dating application, Musi allows users to fill out a profile that will allow them to be "matched" with potentially compatible musicians in their area.
		<br /><br />
		</div>
		<a href="http://musiapp.herokuapp.com">
			<div class="col-md-6 col-xs-12 col-md-pull-5 col-sm-pull-6 col-sm-6 ">
				<%= image_tag "Musi.png", class: 'portfolio' %> 
			</div>
		</a>
		<div class="col-xs-10 col-xs-push-1">
			<hr />
			<br />
		</div>
		<div class="col-md-5 col-md-push-7 col-sm-push-6 col-sm-6 col-xs-12">
			<h4 class="portfolio_caption">AlbumReview</h4>
			<p class="portfolio_caption">Do you have a favorite album no one has ever heard of? Are you looking for new music? AlbumReview is a web application that allows you to rate the music you listen to and share your ratings with your friends on social media.
			<br /><br />
		</div>
		<a href="http://albumreview.herokuapp.com">
			<div class="col-md-6 col-xs-12 col-md-pull-5 col-sm-pull-6 col-sm-6 ">
				<%= image_tag "AlbumReview.png", class: 'portfolio' %> 
			</div>
		</a>
		<div class="col-xs-10 col-xs-push-1">
			<hr />
			<br />
		</div>
		<div class="col-md-5 col-md-push-7 col-sm-push-6 col-sm-6 col-xs-12">
			<h4 class="portfolio_caption">Oakland Yoga</h4>
			<p class="portfolio_caption">A stock yoga studio website built on Ruby on Rails. This site features some representative examples of how I approach front-end design. 
			<br /><br />
		</div>
		<a href="http://seabolting.herokuapp.com">
			<div class="col-md-6 col-xs-12 col-md-pull-5 col-sm-pull-6 col-sm-6 ">
				<%= image_tag "oaklandyoga.png", class: 'portfolio' %> 
			</div>
		</a>
		<div class="col-xs-10 col-xs-push-1">
			<hr />
			<br />
		</div>
		<div class="col-md-5 col-md-push-7 col-sm-push-6 col-sm-6 col-xs-12">
			<h4 class="portfolio_caption">VideoTrak</h4>
			<p class="portfolio_caption">A web application for tracking movie rentals and customers built on Ruby on Rails. 
			<br /><br />
		</div>
		<a href="http://videotrak.herokuapp.com">
			<div class="col-md-6 col-xs-12 col-md-pull-5 col-sm-pull-6 col-sm-6 ">
				<%= image_tag "videotrak.png", class: 'portfolio' %> 
			</div>
		</a>
		<div class="col-xs-10 col-xs-push-1">
			<hr />
			<br />
		</div>
		<div class="col-md-5 col-md-push-7 col-sm-push-6 col-sm-6 col-xs-12">
			<h4 class="portfolio_caption">Calcs4Kids</h4>
			<p class="portfolio_caption">Calcs4Kids is an organization that facilitates the donation of graphing calculators to underfunded public schools in San Francisco, CA. 
			<br /><br />
		</div>
		<a href="http://www.calcs4kids.com">
			<div class="col-md-6 col-xs-12 col-md-pull-5 col-sm-pull-6 col-sm-6 ">
				<%= image_tag "calcs4kids.png", class: 'portfolio' %> 
			</div>
		</a>
		<div class="col-xs-10 col-xs-push-1">
			<hr />
			<br />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4 class="portfolio_caption">Lakin Spears, LLP</h4>
			<p class="portfolio_caption">Lakin Spears is a mid-sized law firm in Palo Alto, CA. These are samples from a newsletter campaign designed to increase attendence at their legal seminar program. 
			<br /><br /><br />
		</div>
		<a href="http://www.jackseabolt.com/Portfolio_Newsletter1.html">
			<div class='col-xs-8 col-xs-push-2 col-sm-push-0 col-sm-4'>
				<%= image_tag "newsletter1.jpg", class: 'portfolio' %> 
			</div>
		</a>
		<a href="http://www.jackseabolt.com/Portfolio_Newsletter2.html">
			<div class='col-xs-8 col-xs-push-2 col-sm-push-0 col-sm-4'>
				<%= image_tag "newsletter2.jpg", class: 'portfolio' %> 
			</div>
		</a>	
		<a href="http://www.jackseabolt.com/Portfolio_Newsletter3.html">
			<div class='col-xs-8 col-xs-push-2 col-sm-push-0 col-sm-4'>
				<%= image_tag "newsletter3.jpg", class: 'portfolio' %> 
			</div>
		</a>
		<div class="col-xs-10 col-xs-push-1">
			<br />
			<br />
			<br />
		</div>
	</div>
</div>