<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 section_white section_white_page">
	<h3>Portfolio</h3>
	<hr>
	<p>I design digital marketing products, websites and web applications for business of all sizes. Please take a moment to look at some of my previous work.</p>
	<br />
	<h4>Newsletters</h4>
	<div class="portfolio_row">
	<a href="http://www.seaboltmarketing.com/Portfolio_AlmaBeckNewsletter_October2015.html">
		<%= image_tag "newsletter.jpg", class: 'portfolio_newsletter' %> 
	</a>
	<a href="http://seaboltmarketing.com/Portfolio_LakinSpearsNewsletter.html">
		<%= image_tag "newsletter2.jpg", class: 'portfolio_newsletter' %> 
	</a>	
	<a href="http://www.seaboltmarketing.com/Portfolio_Workshop.html">
		<%= image_tag "newsletter3.jpg", class: 'portfolio_newsletter' %> 
	</a>
	</div>
	<br />
	<h4>Websites</h4>
	<div class="portfolio_row">
		<%= image_tag "newsletter.jpg", class: 'portfolio_newsletter' %> 
		<%= image_tag "newsletter2.jpg", class: 'portfolio_newsletter' %> 
		<%= image_tag "newsletter3.jpg", class: 'portfolio_newsletter' %> 
	</div>
</div>